{% extends 'base.html' %}

{% block title %}
  {{ task.title }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mt-5">{{ task.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="card">
            {% component 'panel_assignable' assignable_instance=task %}{% endcomponent %}
        </div>
      </div>
      <div class="col">
        <p class="lead">{{ task.description }}</p>
      </div>
    </div>
  </div>
{% endblock %}
